<%- include('layouts/header'); %> <% if (!user) { %>
<div>
  <form method="POST" action="/auth/login">
    <h3>Login</h3>
    <div>
      <span>ID: </span>
      <span><input name="id" type="text"/></span>
    </div>
    <div>
      <span>PW: </span>
      <span><input name="pw" type="password"/></span>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</div>
<% } else { %>
<div>
  <div>
    <h2><%= user.id %>님 환영합니다!</h2>
    <h3>Message</h3>
    <p><%= user.message %></p>
  </div>
</div>
<% } %> <%- include('layouts/footer'); %>
