<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth Example</title>
  </head>
  <body>
    <h3>Auth Example</h3>
    <div>
      <a href="/session-based-auth">Session based auth</a>
    </div>
  </body>
</html>
