<%- include('layouts/header'); %>

<h3>Profile</h3>
<div>
  <span>ID: </span>
  <span><%= user.id %></span>
</div>
<div>
  <span>Message: </span>
  <span><%= user.message %></span>
</div>

<%- include('layouts/footer'); %>
